*.tmp
*.bak
*.bk
*.zip
*.log
*- kopie*.*

Backup*/
bk*/
bin/
tmp/

*.py[co]
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/

uploads/
downloads/
databases/*.*
cache/*.*
private/*.*
errors/*.*
sessions/*.*
import_*/

.installed.cfg
pip-log.txt
